:root {
    --primary-color: #F0B52D;
    --secondary-color: #D4D4D4;
    --dark-color: #000000;
    --light-color: #ffffff;

    --title-font-size: 60px;
    --title-font-weight: bold;

    --heading-1-font-size: 32px;
    --heading-1-font-weight: bold;

    --heading-2-font-size: 24px;
    --heading-2-font-weight: bold;

    --sub-title-font-size: 16px;
    --sub-title-font-weight: normal;

    --normal-font-size: 12px;
    --normal-font-weight: normal;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary-color);
}

#nav_bar {
    position: fixed;
    right: 30px;
    top: 45%;
    border-radius: 100px;
    background: var(--primary-color);
    padding: 20px;
}

#nav_bar a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
}